<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MFAScreenLockApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MFAScreenLockApp.Properties.Settings>
            <setting name="AccountSecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MachineName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserDomainName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Date" serializeAs="String">
                <value />
            </setting>
            <setting name="RecoveryCode" serializeAs="String">
                <value />
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TimeoutEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginStart" serializeAs="String">
                <value>False</value>
            </setting>
        </MFAScreenLockApp.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
